<div class="container">
    <div class="jumbotron">
        <h1> {{ headerTitle | capitalizeOnlyLetters }}
            <i class="fa fa-book"></i>
        </h1>
        <p>Home to the intellectual and cultural treasures of Israel and the Jewish people, the National Library of Israel (NLI)
            has recently embarked on a visionary journey of renewal. In addition to the construction of a state-of-the-art
            complex in the heart of Jerusalem, the renewal process incorporates a wide range of initiatives to preserve and
            make these treasures available to diverse audiences in Israel and across the globe.
    </div>
</div>