<footer class="page-footer font-small blue ">

  <div class="container-fluid text-center text-md-left">

    <hr class="clearfix w-100 d-md-none ">

  </div>

  <div class="footer-copyright text-center py-3">{{copyrights}} &copy; {{currentYear}}
    <a href="#"> National Library </a>

    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      
      <li class="list-inline-item">
        <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-icon text-xs-center" target="_blank" href="https://www.skype.com/en/">
          <i class="fa fa-instagram"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a class="social-icon text-xs-center" target="_blank" href="https://www.google.com/">
          <i class="fa fa-google"></i>
        </a>
      </li>

    </ul>
  </div>